### IntelliJ IDEA ###
.idea/                # IntelliJ project settings
*.iml                 # Module files
*.iws                 # IntelliJ workspace file
out/
/out/                 # Output folder
/out                  # In case out/ wasn't ignored previously
/.idea/workspace.xml  # User-specific settings (optional)

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
dist/
nbdist/
.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
